<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isolatorv.wipi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@drawable/testimage_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:sharedUserId="android.uid.system">

        <activity
            android:name=".login.JoinActivity"
            android:theme="@style/LoginTheme">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvDAfdZ-W5f9DhkijRSOAVATV-RcTrRck" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.RegisterPet" android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".diary.diaries.CreateDiaryActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".diary.diaries.ReadDiaryDetailActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".diary.diaries.UpdateDiaryActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".diary.photo.PhotoViewPagerActivity" android:theme="@style/AppTheme.NoActionBar" android:hardwareAccelerated="false" />



</application>

</manifest>